<template>
    <div id="menu">
        <ul>
            <li v-for="page in this.pages">
                <a v-on:click="show(page)">{{page.name}}</a>
            </li>
        </ul>
        <component :is="{{showPage}}"></component>
    </div>
</template>

<script>
    export default {
        ready() {

        },
        mounted() {

        },
        data() {
            return {
                pages: {
                    AccessTokens: {
                        name: 'Access Tokens',
                        component: none
                    },
                    Clients: {
                        name: 'Clients',
                        component: '<passport-clients></passport-clients>'
                    }
                },
                showPage: 'clients'
            }
        },
        methods: {
            show(page) {
                console.log( )
                this.showPage = page.component;
            },

        }

    }
</script>
