<template>
    <div id='posts'>
        <div class='post' v-for="post in posts">
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>

        </div>
    </div>
</template>

<script>
    export default {
        ready() {

        },
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                posts: [],
            };
        },
        methods: {

            getPosts(post = false) {
                let data = axios.get('/api/')
                    .then(response => {
                        this.posts = response.data;
                    });


            }


        }
    }
</script>
