
#cubeHolder{
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 100px;
}


#cube1{
.cube{
  left: calc(50% - 200px);
  position: relative;
  height: 400px;
  width: 400px;
  margin-top: 50px;
  margin-left: 0, auto;
  margin-top: 100px;
  -webkit-transition: -webkit-transform .3s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform .3s linear;
  /*-webkit-transform: translateZ(-4000px) translateY(-1000px) translateX(-80vw) rotateX(-40deg) rotateY(-40deg);*/
}

.grid{
  position: relative;
  width: 80%;
  left: 20%;
  margin-top: 100px;

}


.c1Face{
  position: absolute;
  height: 360px;
  text-align: center;
  background-color: rgba(100, 100, 200, 0.1);
  border: 2px solid #5555FF;

}

.c1Face:hover{
.one{
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform:    rotateX(90deg)  translateZ(200px);
  transition: .5s;
}
.two{
  -webkit-transform:                translateZ(200px);
  -moz-transform:                    translateZ(200px);
  transition: .5s;
}
.three{
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform:    rotateY(90deg) translateZ(200px);
  transition: .5s;
}
.four{
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform:    rotateY(180deg) translateZ(200px);
  transition: .5s;
}
.five{
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform:    rotateY(-90deg) translateZ(200px);
  transition: .5s;
}
.six{
  -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
  -moz-transform:    rotateX(-90deg) translateZ(200px) rotate(180deg);
  transition: .5s;
}

.faceGrid{
  position: relative;
  display: inline-flex;
  transition: .5s;
  margin: 10px;
  text-align: center;
}

#topHolder{
  -webkit-perspective: 3000px;
  -webkit-perspective-origin: 200px 100%;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 100%;
  transition: .4s;

}

.miniCube{
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-transition: -webkit-transform .3s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform .3s linear;
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
  -moz-transform: rotateX(-10deg);
}
.miniGrid{
  height: 40px;
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
}
.miniGrid div:hover{
  background-color: rgba(80, 80, 200, 0.5);
  cursor: pointer;
}

.miniFace{
  height: 40px;
  width: 40px;
  border: 1px solid #80CCCC;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #8080CC;
  font-size: 35px;
  font-family: Arial;
}

/*.miniFaceGrid{
  position: relative;
  display: inline;
  margin: 3px;
  transition: .5s;
}*/

.oneM{
  position: absolute;
  -webkit-transform: rotateX(90deg) translateZ(20px);
  -moz-transform:    rotateX(90deg)  translateZ(20px);
  transition: .5s;
}
.twoM{
  position: absolute;
  -webkit-transform:                translateZ(20px);
  -moz-transform:                    translateZ(20px);
  transition: .5s;
}
.threeM{
  position: absolute;
  -webkit-transform: rotateY(90deg) translateZ(20px);
  -moz-transform:    rotateY(90deg) translateZ(20px);
  transition: .5s;
}
.fourM{
  position: absolute;
  -webkit-transform: rotateY(180deg) translateZ(20px);
  -moz-transform:    rotateY(180deg) translateZ(20px);
  transition: .5s;
}
.fiveM{
  position: absolute;
  -webkit-transform: rotateY(-90deg) translateZ(20px);
  -moz-transform:    rotateY(-90deg) translateZ(20px);
  transition: .5s;
}
.sixM{
  position: absolute;
  -webkit-transform: rotateX(-90deg) translateZ(20px) rotate(180deg);
  -moz-transform:    rotateX(-90deg) translateZ(20px) rotate(180deg);
  transition: .5s;
}


.oneMG{
  position: absolute;
  -webkit-transform: translateX(0px);
  -moz-transform:    translateX(0px);
  transition: .5s;
}
.twoMG{
  position: absolute;
  -webkit-transform: translateX(43px);
  -moz-transform:    translateX(43px);
  transition: .5s;
}
.threeMG{
  position: absolute;
  -webkit-transform: translateX(86px);
  -moz-transform:    translateX(86px);
  transition: .5s;
}
.fourMG{
  position: absolute;
  -webkit-transform: translateX(129px);
  -moz-transform:    translateX(129px);
  transition: .5s;
}
.fiveMG{
  position: absolute;
  -webkit-transform: translateX(172px);
  -moz-transform:    translateX(172px);
  transition: .5s;
}
.sixMG{
  position: absolute;
  -webkit-transform: translateX(215px);
  -moz-transform:    translateX(215px);
  transition: .5s;
}
