body {
    font-family: Arial;
    background-color: #222;
}

.time {
    text-align: center;
}

td {
    padding-left: 10px;
    background-color: beige;
    transition: .3s;
    transition-delay: 1s


}
td:nth-child(odd):hover{
    background-color: rgba(255, 0, 0, 0.3);
    transition: .3s;
}

td:nth-child(even):hover{
    background-color: rgba(0, 255, 255, 0.3);
    transition: .3s;
}

table {
    border-collapse: collapse;
    margin-left: calc(50% - 300px);
    margin-top: 50px;
}

table > tr + td{
    width: 250px;
}
