body{
    background-color: #313131;
    color: white;
}


table{
    margin-left: 12.5vw;
    margin-top: 10vh;
}

td{
    background-color: #666;
    width: 15vw;
    height: 15vw;
    font-size: 12vw;
    text-align: center;
    transition: .4s;
    transition-delay: 2s;
    color: black;
}

td:hover{
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transition: .4s ease-in-out;
    border-radius: 50%;
}

#a1:hover{
    background-color: blue;
}
#a2:hover{
    background-color: red;
}
#a3:hover{
    background-color: green;
}
#a4:hover{
    background-color: yellow;
}
#a5:hover{
    background-color: purple;
}
#a6:hover{
    background-color: brown;
}
#a7:hover{
    background-color: teal;
}
#a8:hover{
    background-color: magenta;
}
#a9:hover{
    background-color: orange;
}
#a0:hover{
    background-color: pink;
}
#aa:hover{
    background-color: black;
}
#ab:hover{
    background-color: white;
}
