/* makes everything start from zero */
*{
    padding: 0px;
    margin: 0px;


}

/* arranges basic positioning and environmental-friendly background */
body{
    margin-top: 0px;
    font-family: Arial;
    background-color: #222;

}

 /* creates and alignes the top banner, also giving it a bottom border */
#banner{
    position: absolute;
    height: 150px;
    width: 800px;
    margin-left: calc(50vw - 400px);
    border-bottom: 5px solid #D5F4E6;
    margin-right: calc(50vw - 400px);

}

.title{
    position: absolute;
    z-index: 100;
    font-family: Chewy;
    font-size: 50px;
}

/* fits the banner image into teh banner */
img{
    position: inherit;
    height: inherit;
    width: inherit;

}

/* creates the main paragraph part */
.main{
    position: absolute;
    height: 360px;
    width: 800px;
    margin-top: 155px;
    margin-left: calc(50vw - 400px);
    margin-right: calc(50vw - 400px);
    background-color: #fefbd8;

}

/* correctly alignes text */
p{
    padding-top: 20px;
    padding-left: 20px;
}

ul{
    padding-top: 20px;
    padding-left: 40px;
        list-style-type: circle;
}



/* fixec link color and style */
a{
    text-decoration: none;
    color: white;

}

a:visited{
    color: white;
    text-decoration: none;
}

/* gives the bottom bar the correct size, shape and location */
#bottombar{
    position: absolute;
    height: 38px;
    width: 800px;
    margin-top: 515px;
    margin-left: calc(50vw - 400px);
    margin-right: calc(50vw - 400px);
    background-color: #D5F4E6;
    text-align: center;
    padding-top: 15px;

}

/* changes botombar color on mouseover */
#bottombar:hover{
    background-color: #618685;
}

