<input id="input" type="text" name="week" value="">
<button onclick="setWeek()">Go</button>
<iframe id="rooster" src="https://www.landstede.net/rooster/zwolle-d/03/c/c00058.htm" width="800" height="800"></iframe>
<script type="text/javascript">
    var week = '03';
    var url = 'https://www.landstede.net/rooster/zwolle-d/' + week + '/c/c00058.htm';
    function setWeek(){
        week = document.getElementById('input').value;
        document.getElementById('rooster').src = 'https://www.landstede.net/rooster/zwolle-d/' + week + '/c/c00058.htm';
    }
</script>
