/* arranges basic positioning and environmental-friendly background */
.lorum{
    margin-top: 0px;
        margin-left: 100px;
    font-family: Arial;
       

}

 /* creates and alignes the top banner, also giving it a bottom border */
#banner{
    position: relative;
    height: 120px;
        width: 695px;
    margin-left: calc(50% - 400px);
    border-bottom: 5px solid #D5F4E6;
    margin-right: calc(50% - 400px);

}


/* fits the banner image into the banner */
.lorum img{
    position: inherit;
    height: inherit;
    width: inherit;
    
}

/* creates the main paragraph part */
.main{
    position: relative;
    height: 400px;
    width: 700px;
    margin-top: -5px;
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
    background-color: #fefbd8;

}

/* correctly alignes text */
.lorum p{
    padding-top: 20px;
    padding-left: 20px;
        padding-right: 20px;
}

.lorum ul{
    padding-top: 20px;
    padding-left: 40px;
        list-style-type: circle;
}



/* fixec link color and style */
.lorum a{
    text-decoration: none;
    color: white;

}

/* gives the bottom bar the correct size, shape and location */
#bottombar{
    position: relative;
    height: 38px;
    width: 700px;
    margin-top: 0px;
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
    background-color: #D5F4E6;
    text-align: center;
    padding-top: 15px;

}

/* changes botombar color on mouseover */
#bottombar:hover{
    background-color: #618685;
}
