body {
    font-family: Arial;
    background-color: beige;
}

.time {
    text-align: center;
}

td {
    padding-left: 10px;
    border: 2px solid white;
    transition: .3s;
    transition-delay: 1s;
}

td:nth-child(odd):hover{
    background-color: rgba(255, 0, 0, 0.3);
    transition: 0.3s;
}

td:nth-child(even):hover{
    background-color: rgba(0, 255, 255, 0.3);
    transition: 0.3s;
}

table {
    border-collapse: collapse;
    margin: 40px;
    border: 2px solid white;
}
