/* sets the standard color for text to grey-ish*/
*{
    color: 
        ;
 }

/*hides the scrollbar for aesthetic purposes*/
 ::-webkit-scrollbar {
    display: none;
}

/* sets background color and font for the entire page*/
body{
    margin:0;
    padding:0;
    background-color: #404040;
    font-family: arial;
    color: black;
}

/*
creates the bar at the top of the page and gives it a height
in pixels, a width in percentages of the screen and a fixed position
so it stays in place while scrolling
*/
.topbar{
    width: 100vw;
    height: 40px;
    background-color: #313131;
    border-bottom: 2px solid red;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3), 6px 6px rgba(0, 0, 0, 0.1);
    padding-top: 13px;
    padding-left: 60px;
    font-size: 23px;
    z-index: 15;
    position: fixed;
}

/*
this creates a switch between english and dutch.
*/
.langswitch{
    position: fixed;
    font-size: 8px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 30px;
    margin: 0;
    top: 10px;
}

/*
These lines provide the 3 main parts plus the images with a nice
shadow on mouseover.
*/
.topbar:hover{
    box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.2);
    transition:  .5s;
}

.nav:hover{
    box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.2);
    transition:  .5s;
}

.pbox:hover{
    box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.2);
    transition:  .5s;
}

img:hover{
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
    transition:  .5s;
}

/*
This gives the navigation part the right width in percentages of the
screen, an automatic height and adds some nice shadows.
*/
.nav{
    position: fixed;
    top: 15vh;
    width: 15vw;
    height: auto;
    background-color: #313131;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3), 6px 6px rgba(0, 0, 0, 0.1);
    border-right: 2px solid green;
    line-height: 250%;
    z-index: 8;
}

/*
positions the menu items and removes the list style.
*/
#menu{
    list-style-type: none;
    padding-right: 0;
    margin-bottom: 50px;
}

/*
Adds a line under menu items and creates a nice effect on mouseover.
*/
#menu li{
    border-bottom: 2px solid black;
}

#menu li:hover{
    background-color: #364732;
    transition: .3s;
}

/*
this creates the dropdown menu and places it at the right position.
*/
#menu > li > ul{
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: #313131;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3), 6px 6px rgba(0, 0, 0, 0.1);
    border-right: 2px solid green;
    border: 1px solid black;
    left: 12vw;
    top: 2vh;
    padding-left: 2px;
    width: 12vw;
    z-index: 13;
}

#menu > li:hover ul{
    display: block;
}

/*
centers and whitenes the page title if its there.
*/
h4{
    text-align: center;
    color: white;

}

/*
this shapes and positions my face on the pages it is present in.
*/
.face{
    height: 100px;
    width: 75px;
}

.face img{
    padding-top: 0;
    height: 100px;
    width: auto;
    position: absolute;
}

/*
this creates the paragpaph box in the middle, and lets it grow
in height according to content. also adds nice shadows. the z-index
is adjusted so that it stays above the navigation.
*/
.pbox{
    height: auto;
    width: 750px;
    top: 15vh;
    text-align: left;
    background-color: #333333;
    position: absolute;
    left: calc(50% - 350px);
    color: white;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 10;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    margin-bottom: 40px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3), 6px 6px rgba(0, 0, 0, 0.1);
}

.pbox > div{
    position: relative;
}

/*
these lines make the links look not so linky and more in tune with
the rest of the page.
*/
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*
alignes the titels of pictures and positions and sizes them to
the paragraph box on the hybrid animals page.
*/
.pics{
    text-align: center;
}

.pics img{
    width: 600px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 4px solid black;
    border-radius: 2px;
}

/*
shapes and positions teh iframe containing the lorum fc website so it
fits beautifully on top the paragraph box.
*/
.lorum{
    position: relative;
    margin-left: 0;
    width: 800px;
    height: 568px;
    align-content: center;
    margin-left: -25px;
    box-shadow: 2px 2px 5px 5px black;
}

/*
shapes the iframe box for the schedule.
*/
.rooster{
    position: relative;
    margin-left: 0;
    width: 600px;
    height: 550px;
    align-content: center;
    margin-left: 75px;
    box-shadow: 2px 2px 5px 5px black;
}
/*
styles and spaces the lines of the list on the contact page.
*/
#contact{
    list-style-type: square;
    line-height: 250%;
}

/*
creates boxes for the guitars adn sizes teh pictiures on
the hobbies page.
*/
.guitar{
    background-color: white;
    height: 220px;
    width: 610px;
    margin: 10px;
}

.guitar img{
    width: 600px;
    height: auto;
    border: 10px solid black;
    padding: 0;
    margin: 0;
}

/*
positions the welcoming table on the home page.
*/
.centerpiece{
    top: 15vh;
    position: fixed;
    z-index: 0;
    left: 28vw;
}

/*
shapes the table boxes on the home page.
*/
.centerpiece table tr td{
    height: 8vw;
    width: 8vw;
    background-color: #666;
    transition: 2s;
    color: #666;
    font-size: 7vw;
    text-align: center;
}

/*
shows the "welcome" on the home page on mouseover.
*/
.centerpiece table tr td:hover{
    background-color: white;
    color: black;
    transition: 2s;
}

/*
hides some table boxes for aesthetic reasons.
*/
.centerpiece table tr .clear{
    background-color: #404040;
}

/*
shows blue sqaures when hovering the empty spaces on the home page.
*/
.centerpiece table tr .clear:hover{
    background-color: blue;
}


/*
the following reshapes the navigation plane into a bar underneath
the top bar to fit better on smaller screen sizes.
*/
@media only screen
and (min-device-width: 0px)
and (max-device-width: 768px){
    .topbar{
        height: 52px;
        margin-top: 0px;
        top: 0px;
        font-size: 200%;
        width: 100%;
    }
    .nav{
        width: 100%;
        line-height: 100%;
        top: 52px;
        position: fixed;
        padding-top: 15px;
        z-index: 14;
        height: 50px;
    }
    #menu > li{
        display: inline;
        border-bottom: none;
        border-left: 2px solid green;
        font-size: 250%;

    }
    .pbox{
        top: 120px;
        font-size: 200%;
        width: 90vw;
        left: 5vw;
        font-size: 200%;
        margin-top: 100px;
    }
    #menu > li > ul{
        z-index: 30;
        line-height: 200%;
        width: auto;
        top: 60px;
        left: 30px;

    }
    .centerpiece{
        top: 150px;
    }

}
