*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #555;
  background-image: url(../img/vistabg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-family: monospace;
}

h1{
  position: absolute;
  left: 0;
  width: inherit;
  color: black;
  text-shadow: 2px 2px 5px 5px black;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-family: monospace;
  top: 5px;
}
p{
  background-color: white;
  border: 1px solid black;
  box-shadow: inset 0px 0px 3px 1px black;
  padding: 20px;
}
a{
  color: blue;
  text-decoration: underline;
  padding: 5px;
  float: right;
}


@-webkit-keyframes spinframe {
  0%    {-webkit-transform:  rotateZ(0deg);}
  100%    {-webkit-transform:  rotateZ(360deg);}
}
@-webkit-keyframes spinletter {
  0%    {-webkit-transform:  rotateY(0deg);}
  100%    {-webkit-transform:  rotateY(-360deg);}
}
@-webkit-keyframes spininner {
  0%    {-webkit-transform:  rotateZ(0deg);}
  100%    {-webkit-transform:  rotateZ(-360deg);}
}
@-webkit-keyframes spincard {
  0%    {-webkit-transform:  rotateX(0deg);}
  100%    {-webkit-transform:  rotateX(360deg);}
}

.fspin{
    -webkit-animation: spinframe 3s 1;
}
.cspin{
  -webkit-animation: spincard 2s 1;
}
.lspin{
  -webkit-animation: spinletter 3s 1;
}
.ispin{
  -webkit-animation: spininner 3s 1;
}

#gameRules{
  top: 20px;
  position: absolute;
  margin-left: calc(50% - 250px);
  width: 500px;
  height: auto;
  padding: 8px;
  padding-top: 40px;
  color: black;
  background-color: rgba(200, 200, 250, 0.2);
  box-shadow: -1px -1px 5px 0px black;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 80px;

}
#gameRules p{
  white-space: pre-wrap;
  font-family: Arial;
  font-size: 12px;
}
button{
  position: absolute;
  bottom: 20px;
  left: 400px;
  width: 80px;
  height: 20px;
  border-radius: 3px;
  border: none;
  color: white;
  text-shadow: 1px 1px 2px black;
  box-shadow: inset 3px 4px 3px 3px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 15px;
  z-index: 2;

}
button:hover{
  box-shadow: inset 3px 4px 3px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px 3px rgba(255, 255, 255, 0.5);
  background-color: rgba(50, 50, 50, 0.2);
  border-bottom: 1px solid black;
}

#playerInput{
  display: none;
  position: absolute;;
  top: 20px;
  margin-left: calc(50% - 250px);
  width: 500px;
  height: 400px;
  padding: 8px;
  padding-top: 40px;
  color: black;
  background-color: rgba(200, 200, 250, 0.2);
  box-shadow: -1px -1px 5px 0px black;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 300%;
}


#playerInput input{
  height: 30px;
  width: 200px;
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid black;
}
::-webkit-input-placeholder{
  color: grey;
}
:-moz-placeholder{
  color: grey;
}
:-ms-input-placeholder{
  color: grey;
}


#game{
  display: none;
  position: absolute;;
  margin-left: calc(50% - 500px);
  top: 20px;
  width: 900px;
  height: 450px;
  padding-left: 100px;
  padding-top: 40px;
  color: black;
  background-color: rgba(200, 200, 250, 0.2);
  box-shadow: -1px -1px 5px 0px black;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: center;
  -moz-perspective: 1000px;
  -moz-perspective-origin: center;
}
#qCard{
  position: absolute;
  top: 40px;
  left: 250px;
  height: 200px;
  width: 350px;
  background-color: beige;
  border: 3px solid blue;
  border-radius: 15px;
  text-align: center;
  -webkit-transition: -webkit-transform .3s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform .3s linear;
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateY(10deg);
  -moz-transform: rotateY(10deg);
  box-shadow: 3px 3px 8px black;
  transition: .4s;
}

#qCard span{
  position: absolute;
  width: 350px;
  height: 75px;
  right: 0px;
  padding-top: 25px;

}
#qEN{
  top: 0px;
  color: blue;
  background-color: beige;
  border-radius: 10px 10px 0 0;

}
#qNL{
  top: 100px;
  color: beige;
  background-color: blue;
  border-radius: 0px 0px 10px 10px;
}
#teamlist{
  position: absolute;
  left: 25px;
}

#p1{
  display: block;
  border: 2px solid black;
  width: 180px;
  font-size: 20px;
  color: black;
}
#teamlist ul{
  display: block;
  list-style-type: none;
  border: 1px solid;
  height: 150px;
  width: 180px;
  margin-top: 10px;

}

#team1 span{
  background-color: green;
}
#team1{
  border-color: green;
}
#team2 span{
  background-color: yellow;
}
#team2{
  border-color: yellow;
}

#team1 li{
  color: green;
  width: 100px;
}

#team2 li{
  color: yellow;
  width: 100px;
}


#letterdisk{
  float: right;
  position: absolute;
  width: 220px;
  height: 220px;
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;
  right: 40px;
  top: 60px;


}

#letterdisk div{
  position: absolute;
  height: 180px;
  width: 180px;
  font-size: 150px;
  text-align: center;
  border: 2px solid yellow;
  border-radius: 4px;
  text-align: center;
  left: 20px;
  top: 20px;
  text-shadow: 1px 1px white;
}
#inner{

}
#answer{
  position: absolute;
  height: 58px;
  width: 350px;
  top: 340px;
  left: 260px;
  padding: 0;
  overflow: hidden;
}
#answerfield{
  position: absolute;
  height: 58px;
  width: 320px;
  font-size: 25px;
  text-align: center;
}
#gPoints{
  background-color: green;
}
#yPoints{
  background-color: yellow;
}
#answer button{
  position: absolute;
  left: 320px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
    top: 0px;
}
#gbutton{
  background-color: green;
}
#ybutton{
  background-color: yellow;
  margin-top: 30px;
}


#scoreboard{
  position: absolute;;
  display: none;
  left: calc(50% - 300px);
  top: 20px;
  width: 500px;
  height: 450px;
  padding: 8px;
  padding-top: 40px;
  color: black;
  background-color: rgba(200, 200, 250, 0.5);
  box-shadow: -1px -1px 5px 0px black;
  border: 1px solid black;
  border-radius: 10px;
}
#scoreboard canvas{
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  box-shadow: inset 0px 0px 3px 1px black;
}
#scoreboard button{
  display: none;
}


.footer{
  width: 103%;
  left: -10px;
  position: absolute;
  bottom: 0;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 6px 6px 6px rgba(255, 255, 255, 0.5);
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  overflow: hidden;
}

#start{
  position: absolute;
  left: 25px;
  top: -10px;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  background-color: rgba(100, 100, 255, 0.5);
  box-shadow: inset 1px 1px 10px 3px rgba(0, 60, 180, 0.8);
}
#start a{
  color: black;
  text-decoration: none;
  padding-top: 16px;

}

.footer ul{
  position: absolute;
  list-style-type: none;
  left: 100px;
  color: white;
  border-left: 2px solid black;
  padding-left: 20px;
}

.footer ul li{
    float: left;
  height: 23px;
  width: 140px;
  margin-left: 1px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  text-shadow: 2px 2px 5px 2px black;
  padding-top: 4px;
}
.footer ul li:hover{
  box-shadow: inset 0px -4px 4px 1px rgba(255, 255, 255, 0.2);
}

#time{
  float: right;
  right: 40px;
  position: absolute;
  padding: 5px;
  color: white;
  font-size: 10px;
  padding-top: 10px;

}
